html, body {
	overflow: hidden;
	width: 410px;
	min-height: 28px;
	padding: 0px;
	margin: 0px;
	background-color: #EEEEEE;
	font-size: 13px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

#container {
	margin: 5px;
}

#search {

}

#search input {
	margin: 0;
	color: #333333;
	padding: 5px;
	font-size: 13px;
	line-height: 18px;
	width: 386px;
}

#inner_body {
	padding: 10px;
    width: 378px;
    display: none;
    background-color: whiteSmoke;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    border-top: none;
}

#expression {
    font-size: 18px;
    font-style: italic;
}

#definition {
    padding-top: 10px;
    padding-left: 0px;
}

#example {
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-style: italic;
    border: 1px solid #DDD;
    margin:	10px 0px 0px 0px;
    padding: 5px;
}

#tags {
    height: auto;
    line-height: 20px;
    border-top: 1px solid #DDD;
    margin-top: 15px;
    padding: 10px;
    padding-bottom: 0px;
    width: 380px;
    margin-left: -10px;
}

.tag {
    white-space: pre;
    margin-right: 2px;
    padding: 1px 3px 1px 3px;
    background-color: #BFBFBF;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag:hover {
    background-color: #7E7E7E;
}

#message_box {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
	display: none;
}

.error {
    color: #B40404;
    padding: 5px;
}

.error a {
    color: #B40404;
    text-decoration: underline;
}

.warning {
    color: #FBAF5C;
    padding: 5px;
}

.info {
    color: #4183C4;
    padding: 5px;
}
