html, body {
	overflow: hidden;
	width: 410px;
	min-height: 28px;
	padding: 0px;
	margin: 0px;
	background-color: #EEEEEE;
	font-size: 13px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

#search {

}

#search input {
	margin: 0;
	color: #333333;
	padding: 5px;
	margin: 5px;
	font-size: 13px;
	line-height: 18px;
	width: 386px;
}

#outer_body {
	margin-top: -5px;
}

#inner_body {
    display: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 4px 4px 4px;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    border-top: none;
    padding-top: 5px;
}

#expression {
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

#definition {
    padding: 15px;
}

#example {
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-style: italic;
    border: 1px solid #DDD;
    margin: 0px 10px 10px 10px;
    padding: 5px;
}

#tags {
    height: auto;
    line-height: 20px;
    border-top: 1px solid #DDD;
    margin-top: 5px;
    padding: 10px;
}

.tag {
    white-space: pre;
    margin-right: 2px;
    padding: 1px 3px 1px 3px;
    background-color: #BFBFBF;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag:hover {
    background-color: #7E7E7E;
}

#message_box {
    display: none;
    text-align: center;
}

.error {
    color: #B40404;
    padding: 5px;
}

.error a {
    color: #B40404;
    text-decoration: underline;
}

.warning {
    color: #FBAF5C;
    padding: 5px;
}

.info {
    color: #4183C4;
    padding: 5px;
}
