html, body {
	overflow: hidden;
	width: 510px;
	min-height: 28px;
	padding: 0px;
	margin: 0px;
	background-color: #EEEEEE;
	font-size: small;
	font-family: "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.25px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
}

#container {
	margin: 5px;
}

#search input {
    width: 486px;
	margin: 0;
	padding: 5px;
	font-size: medium;
    color: #333333;
}

#innerBody {
	padding: 10px;
    display: none;
    background-color: whiteSmoke;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #DDD;
    border-top: none;
}

#expression {
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
}

.separator {
    background-color: #dddddd;
}

.label {
    padding-right: 10px;
    color: #666666;
}

.label.error {
    background-color: red;
}

.content {
    padding-left: 10px;
    width: 100%;
    border-left: 1px solid #dddddd;
}
